################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ZabbixMW
/bin/Debug/netcoreapp2.2
/obj
/Application.json
